
07_junit/.idea/vcs.xml
07_junit/.idea/modules.xml
07_junit/.idea/misc.xml
07_junit/.idea/07_junit.iml
06_liides/projekt/out/production/projekt/AutomaatneTest.class
06_liides/Kujundid/out/production/Kujundid/Tasapinnaline.class
06_liides/Kujundid/out/production/Kujundid/Ruut.class
06_liides/Kujundid/out/production/Kujundid/Roopkuulik.class
06_liides/Kujundid/out/production/Kujundid/Main.class
06_liides/Kujundid/out/production/Kujundid/Kolmnurk.class
06_liides/Kujundid/out/production/Kujundid/AutomaatTest.class
06_liides/Kujundid/out/production/Kujundid/Arvutused.class
06_liides/Kujundid/.idea/workspace.xml
